<div class="cart">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h3>Thank you for your order!</h3>
      <% if @order %>
        <h3><small><%=@order.description %></small></h3>
        <% @order.order_items.each do |order_item| %>
          <hr>
          <div class="order-item">
            <div><%= image_tag attachment_url(order_item.book, :photo, :fill, 100, 150, format: "jpg") %></div>
            <ul>
              <li>Title: <%= order_item.book.title %></li>
              <li>Quantity: <%= order_item.quantity %></li>
              <li>Total Price: <%= number_to_currency order_item.total_price %></li>
            </ul>
          </div>
        <% end %>
        <hr>
        <h5 style="text-align: right;">Order Total: <%= number_to_currency @order.total_price %></h5>
      <% end %>
      <h3>Best wishes and happy reading!<h3>
        <h4>The Iron Library</h4>
    </div>
  </div>
</div>
