<div class="index">

  <div class="" style="padding-left: 20px;">
    <%= link_to authors_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" do %>
      <i class="material-icons">refresh</i>
    <% end %>
  </div>

  <div class="item-list">
    <div class="mdl-grid">
      <% @authors.each do |author| %>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" style="background: url(<%= author.photo_url %>); background-position: top; background-size: 100%; background-repeat: no-repeat; min-width: 100%;">
              <div class="go-to-button">
                <%= link_to author_path(id: author.id), class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" do %>
                  <i class="material-icons">call_made</i>
                <% end %>
              </div>
            </div>
            <div class="mdl-card__supporting-text">
              <%= link_to author.bio.truncate(150), author_path(id: author.id), style: "text-decoration: none; color: #212121;"%>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <small style="padding-left: 10px;">
                <%= %>
              </small>
              <%= link_to author.full_name, author_path(id: author.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</div>
