<div class="demo-card mdl-grid">
  <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--6-col">
    <h1><%= @book.title %></h1>
    <h1>
      <%= image_tag @book.photo_url %>
      <small style="padding-left: 50px;"><%= number_to_currency(@book.price) %></small>
    </h1>

  </div>
  <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--6-col">
    <h2><%= link_to @book.author.full_name, author_path(id: @book.author_id) %></h2>
    <p><%= @book.author.bio %></p>
  </div>
</div>
