<!DOCTYPE html>
<html>
<head>
  <title>Iron Library</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src=" https://checkout.stripe.com/checkout.js"></script>



  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_5JVSPhieKsIPIFTadSnKl3vs');
  </script>

</head>
<body>

  <div class="mdl-layout__container has-scrolling-header">
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100 is-upgraded">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <%= link_to new_book_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" do %>
            <i class="material-icons">add</i>
          <% end %>
          &nbsp;&nbsp;&nbsp;
          <div class="mdl-layout-spacer"><%= link_to "Books", root_path %></div>
          <%= link_to new_author_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" do %>
            <i class="material-icons">add</i>
          <% end %>
          &nbsp;&nbsp;&nbsp;
          <div class="mdl-layout-spacer"><%= link_to "Authors", authors_path %></div>
          <!-- <div data-upgraded=",MaterialTextfield" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded">
            <label data-upgraded=",MaterialButton" class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" id="search" type="text">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div> -->
          <% if @current_user %>
            <div class="user-name">
              Hello <%= @current_user.name %>!              
            </div>
          <% end %>
          &nbsp;
          <% if @current_user %>
            <%= link_to "Sign Out", sign_out_path %>
            &nbsp;&nbsp;&nbsp;
            <%= link_to cart_path do %>
              <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                <i class="material-icons" style="font-size: 16px;">shopping_cart</i>
              </div>
            <% end %>
          <% else %>
            <%= link_to "Sign In", sign_in_path %>
          <% end %>
        </div>
      </header>

      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <%= yield %>
      </main>
    </div>
  </div>

</body>
</html>
